name: Deploy React App

on:
  push:
    branches:
      - main  # 브랜치 이름이 master라면 master로 수정하세요

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # ★ 여기에 있던 cache: 'npm' 줄을 반드시 지워야 합니다 ★

      - name: Install dependencies
        run: npm install framer-motion
      - name: Install react
        run: npm install lucide-react
      - name: Install dnd
        run: npm install dnd-kit

      - name: Build
        run: npm run build

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
